In [61]:
import pandas as pd
from configurations import basic_parameters as bp

In [62]:
csv_dataframe = bp['dataframe_dir'] + '/' + bp['dataframe_file']

In [63]:
names = ['Open time', 'Open', 'High', 'Low', 'Close', 'Volume', 'Close time', 'Quote asset volume', 'Number of trades', 'Taker buy base asset volume', 'Taker buy quote asset volume', 'Ignore']

df = pd.read_csv(csv_dataframe, names=names, usecols=['Open time', 'Open', 'High', 'Low', 'Close'])

In [64]:
def computeRSI (data, time_window):
    diff = data.diff(1).dropna()        # diff in one field(one day)

    #this preservers dimensions off diff values
    up_chg = 0 * diff
    down_chg = 0 * diff
    
    # up change is equal to the positive difference, otherwise equal to zero
    up_chg[diff > 0] = diff[ diff>0 ]
    
    # down change is equal to negative deifference, otherwise equal to zero
    down_chg[diff < 0] = diff[ diff < 0 ]
    
    # check pandas documentation for ewm
    # https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html
    # values are related to exponential decay
    # we set com=time_window-1 so we get decay alpha=1/time_window
    up_chg_avg   = up_chg.ewm(com=time_window-1 , min_periods=time_window).mean()
    down_chg_avg = down_chg.ewm(com=time_window-1 , min_periods=time_window).mean()
    
    rs = abs(up_chg_avg/down_chg_avg)
    rsi = 100 - 100/(1+rs)
    return rsi

In [65]:
def stochastic(data, k_window, d_window, window):
    
    # input to function is one column from df
    # containing closing price or whatever value we want to extract K and D from
    
    min_val = data.rolling(window=window, center=False).min()
    max_val = data.rolling(window=window, center=False).max()
    
    stoch = ( (data - min_val) / (max_val - min_val) ) * 100
    
    K = stoch.rolling(window=k_window, center=False).mean() 
    #K = stoch
    
    D = K.rolling(window=d_window, center=False).mean() 


    return K, D

In [66]:
df['RSI'] = computeRSI(df['Close'], 14)
df['K'], df['D'] = stochastic(df['RSI'], 3, 3, 14)

In [67]:
df['time UTC'] = pd.to_datetime(df['Open time'], unit='ms', origin='unix')
df.dropna(inplace=True)
df

,Open time,Open,High,Low,Close,RSI,K,D,time UTC
31,1678060831000,22422.12,22423.83,22421.52,22422.54,54.033107,91.624977,95.381293,2023-03-06 00:00:31
32,1678060832000,22422.54,22424.50,22422.31,22422.54,54.033107,88.731052,91.624977,2023-03-06 00:00:32
33,1678060833000,22422.55,22422.73,22422.52,22422.55,54.080566,91.371062,90.575697,2023-03-06 00:00:33
34,1678060834000,22422.53,22423.00,22422.32,22422.32,52.732041,89.725047,89.942387,2023-03-06 00:00:34
35,1678060835000,22422.46,22423.01,22422.16,22422.16,51.765031,86.953478,89.349862,2023-03-06 00:00:35
...,...,...,...,...,...,...,...,...,...
86395,1678147195000,22408.90,22409.75,22408.41,22408.53,50.694848,6.975464,12.929896,2023-03-06 23:59:55
86396,1678147196000,22408.96,22409.84,22408.54,22409.72,58.654142,16.822415,10.257781,2023-03-06 23:59:56
86397,1678147197000,22409.28,22409.28,22408.89,22408.89,52.311174,16.042611,13.280163,2023-03-06 23:59:57
86398,1678147198000,22409.61,22409.73,22408.90,22408.90,52.377994,18.862486,17.242504,2023-03-06 23:59:58
86399,1678147199000,22409.66,22410.00,22409.00,22410.00,59.157274,19.705414,18.203503,2023-03-06 23:59:59

In [68]:
stochastic_value = 0
RSI_value = 40
df.loc[(df['D'] <= stochastic_value) & (df['RSI'] <= RSI_value), 'buy?'] = True
#df.loc[df['D'] <= 5, 'buy?'] = True
#df.loc[df['buy?'] == True]

In [69]:
rolling_seconds = 60

df['min_val'] = df['Low'].shift(-rolling_seconds).rolling(window=rolling_seconds).min()
df['max_val'] = df['High'].shift(-rolling_seconds).rolling(window=rolling_seconds).max()

df['max_val_%'] = (df['max_val'] - df['Open'].shift(-1)) * 100 / df['Open'].shift(-1)
df['min_val_%'] = (df['min_val'] - df['Open'].shift(-1)) * 100 / df['Open'].shift(-1)

#df.dropna(inplace=True)
#df[60:70]
#df.loc[df['buy?'] == True]
df = df.loc[df['buy?'] == True]
df = df.loc[df['Open time'] - df['Open time'].shift(1) > rolling_seconds * 1000] # wait until trade 
df

,Open time,Open,High,Low,Close,RSI,K,D,time UTC,buy?,min_val,max_val,max_val_%,min_val_%
3207,1678064007000,22445.45,22446.47,22444.89,22445.16,19.767124,0.0,0.0,2023-03-06 00:53:27,True,22436.68,22449.09,0.017509,-0.037781
7298,1678068098000,22363.68,22364.89,22363.18,22363.27,19.470610,0.0,0.0,2023-03-06 02:01:38,True,22344.01,22365.33,0.003219,-0.092110
13184,1678073984000,22392.87,22392.87,22389.01,22390.00,10.843502,0.0,0.0,2023-03-06 03:39:44,True,22376.65,22390.56,0.006834,-0.055295
15853,1678076653000,22384.12,22384.22,22378.98,22379.00,9.430421,0.0,0.0,2023-03-06 04:24:13,True,22376.31,22386.65,0.031725,-0.014478
16315,1678077115000,22339.49,22340.65,22338.92,22339.07,17.266772,0.0,0.0,2023-03-06 04:31:55,True,22335.79,22349.41,0.043152,-0.017816
27795,1678088595000,22408.50,22408.64,22407.70,22408.18,15.249239,0.0,0.0,2023-03-06 07:43:15,True,22406.06,22410.70,0.011246,-0.009461
35368,1678096168000,22389.88,22390.15,22389.30,22389.30,15.146961,0.0,0.0,2023-03-06 09:49:28,True,22387.50,22390.70,0.004556,-0.009737
39815,1678100615000,22392.05,22392.48,22391.18,22391.57,14.345371,0.0,0.0,2023-03-06 11:03:35,True,22385.64,22392.44,0.003617,-0.026751
40098,1678100898000,22384.74,22385.00,22383.60,22384.51,16.534802,0.0,0.0,2023-03-06 11:08:18,True,22384.35,22390.46,0.026447,-0.000849
40577,1678101377000,22387.44,22387.64,22387.05,22387.43,18.845622,0.0,0.0,2023-03-06 11:16:17,True,22385.00,22388.48,0.004467,-0.011078
43745,1678104545000,22364.90,22364.90,22362.89,22363.34,16.266834,0.0,0.0,2023-03-06 12:09:05,True,22357.08,22372.74,0.041317,-0.028707
52650,1678113450000,22422.38,22422.64,22419.56,22420.69,19.473771,0.0,0.0,2023-03-06 14:37:30,True,22415.06,22430.00,0.041926,-0.024709
53553,1678114353000,22428.18,22428.52,22427.14,22428.17,18.560013,0.0,0.0,2023-03-06 14:52:33,True,22425.37,22440.22,0.054039,-0.012172
53841,1678114641000,22436.34,22436.34,22433.72,22434.49,17.611938,0.0,0.0,2023-03-06 14:57:21,True,22429.03,22439.78,0.021261,-0.026655
56937,1678117737000,22495.11,22495.49,22493.20,22494.37,18.048832,0.0,0.0,2023-03-06 15:48:57,True,22492.37,22509.88,0.074289,-0.003557
58779,1678119579000,22536.28,22537.94,22529.80,22530.29,17.049486,0.0,0.0,2023-03-06 16:19:39,True,22522.24,22536.67,0.027385,-0.036661
61028,1678121828000,22526.19,22526.25,22524.00,22526.19,17.735328,0.0,0.0,2023-03-06 16:57:08,True,22523.11,22537.97,0.052472,-0.013495
61093,1678121893000,22518.01,22519.04,22516.80,22517.41,17.898782,0.0,0.0,2023-03-06 16:58:13,True,22512.52,22527.93,0.044987,-0.023448
61542,1678122342000,22503.05,22504.41,22501.84,22502.78,16.457456,0.0,0.0,2023-03-06 17:05:42,True,22498.25,22513.48,0.048572,-0.019109
62440,1678123240000,22523.09,22523.32,22521.61,22522.20,18.597060,0.0,0.0,2023-03-06 17:20:40,True,22513.82,22528.76,0.029749,-0.036586
65372,1678126172000,22474.70,22475.19,22471.43,22472.65,14.380666,0.0,0.0,2023-03-06 18:09:32,True,22465.00,22482.73,0.047259,-0.031639
69465,1678130265000,22453.40,22454.64,22443.88,22450.45,11.523151,0.0,0.0,2023-03-06 19:17:45,True,22370.00,22463.95,0.060132,-0.358345
69673,1678130473000,22377.19,22377.79,22373.35,22375.32,19.263390,0.0,0.0,2023-03-06 19:21:13,True,22369.00,22407.18,0.141897,-0.028737
71917,1678132717000,22394.37,22395.40,22392.92,22394.31,13.683628,0.0,0.0,2023-03-06 19:58:37,True,22383.08,22394.20,0.000625,-0.049031
76407,1678137207000,22363.95,22363.96,22362.16,22362.74,17.706516,0.0,0.0,2023-03-06 21:13:27,True,22362.33,22371.24,0.038233,-0.001610
76714,1678137514000,22361.66,22361.68,22358.13,22359.56,18.071986,0.0,0.0,2023-03-06 21:18:34,True,22358.17,22365.73,0.027639,-0.006172
77703,1678138503000,22402.94,22403.03,22399.24,22400.50,19.537454,0.0,0.0,2023-03-06 21:35:03,True,22399.89,22407.40,0.030982,-0.002545
77830,1678138630000,22394.03,22394.46,22391.87,22393.02,18.818004,0.0,0.0,2023-03-06 21:37:10,True,22392.72,22408.86,0.071809,-0.000268
80153,1678140953000,22429.31,22429.31,22427.20,22427.55,13.771851,0.0,0.0,2023-03-06 22:15:53,True,22421.91,22428.74,0.004994,-0.025460
81873,1678142673000,22433.79,22434.40,22432.54,22433.32,18.302753,0.0,0.0,2023-03-06 22:44:33,True,22421.17,22434.21,0.004458,-0.053670
85058,1678145858000,22405.84,22406.57,22404.08,22404.66,10.969800,0.0,0.0,2023-03-06 23:37:38,True,22401.67,22410.49,0.025977,-0.013390

In [70]:
tp_size = 0.075
sl_size = 0.075
# 0.075 RSI 40 total profit 2.47

In [71]:
sl = df.loc[(df['buy?'] == True) & (df['min_val_%'] < -sl_size)]
#sl = sl.loc[sl['Open time'] - sl['Open time'].shift(1) > rolling_seconds * 1000]
sl

,Open time,Open,High,Low,Close,RSI,K,D,time UTC,buy?,min_val,max_val,max_val_%,min_val_%
7298,1678068098000,22363.68,22364.89,22363.18,22363.27,19.470610,0.0,0.0,2023-03-06 02:01:38,True,22344.01,22365.33,0.003219,-0.092110
69465,1678130265000,22453.40,22454.64,22443.88,22450.45,11.523151,0.0,0.0,2023-03-06 19:17:45,True,22370.00,22463.95,0.060132,-0.358345

In [72]:
tp = df.loc[(df['buy?'] == True) & (df['max_val_%'] > tp_size)]
#tp = tp.loc[tp['Open time'] - tp['Open time'].shift(1) >  rolling_seconds * 1000]
tp[:50]

,Open time,Open,High,Low,Close,RSI,K,D,time UTC,buy?,min_val,max_val,max_val_%,min_val_%
69673,1678130473000,22377.19,22377.79,22373.35,22375.32,19.26339,0.0,0.0,2023-03-06 19:21:13,True,22369.0,22407.18,0.141897,-0.028737

In [73]:
tp.shape[0]/sl.shape[0]

0.5

In [74]:
(tp.shape[0] * tp_size) - (sl.shape[0] * sl_size)

-0.075